a:link{
	
    color: #017bba;

}


li {
    
    padding-top: 1.5em;
    padding-left: 0.4em;
    padding-bottom: 1.5em;

    list-style:none;

}

li a {

    text-decoration:none;
}

li:nth-child(odd) {
    background-color: #D2D2D2;
}
li:nth-child(even) {
    background-color: white;
}


.selected {

   background-color: white;


}

.unselected{

   background-color: #D2D2D2;

}

.description{

   color: #51626F;

}


.title{

  color: #017bba;

}

.copyright{

  color: #51626f;
  text-align:center;
  font-size: 0.7em;

}
